<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/git"><b>GitHub App</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav" class="navbar-nav" style="margin-left:60% ">
                <a class="nav-item nav-link active" routerLink="git" routerLinkActive='active'>My profile<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" routerLink="/about" routerLinkActive='active'>Search</a>
       
  
                        <!-- <input type="text" style="width:30% ;margin-left: 2%" class="form-control" placeholder="Enter Username" [(ngModel)]="username" name="username"
                            (keyup)="findProfile()" required>
                        <button class="" style="margin-left: 2%"  > Search</button> -->
                </div>
        </div>
  </nav>
  