<div class="container">
  <div *ngIf="profile">
      
        <div class="panel-body">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <br>
                            <form>
                                    <div>
                                            <input type="text" style="width:60% ;margin-left: 2%" class="form-control" placeholder="Enter Username" [(ngModel)]="username" name="username"
                                            (keyup)="findProfile()">
                                        
                                
                                    </div>
                                </form>
                    </div>
                    <div class="col-md-4" >
                        <br>
                        <img src="{{profile.avatar_url}}" style="height: 300px; width: 300px ;margin-left: 2%"  alt="picture">
                        <br>
                        <br>
                        <p id="button">
                                <span class="btn btn-outline-success btn-sm"> Repository {{profile.public_repos}}</span>
                                <span class="btn btn-outline-primary btn-sm"> Followers {{profile.followers}}</span>
                                <span class="btn btn-outline-primary btn-sm"> Following {{profile.following}}</span>
                                
                            </p>
                    </div>
                    <div class="col-md-4">
                        <br>
                        <ul class="list-group" >
                            <li class="list-group-item" *ngIf="profile.name"><strong>Name: {{profile.name}}</strong></li>
                            <li class="list-group-item" *ngIf="profile.blog"><strong>Bio: {{profile.bio}}</strong></li>
                            <li class="list-group-item" *ngIf="profile.location"><strong>Location: {{profile.location}}</strong></li>
                            <li class="list-group-item" *ngIf="profile.created_at"><strong>Created on : {{profile.created_at|date |uppercase}}</strong></li>
                         <a href="{{profile.html_url}}" target="_blank" class="btn btn-outline-success btn-sm"> View Profile on GitHub</a>
                    </ul>
                    </div>
                    
            </div>
        </div>
        <br>
        <br>
            <h3 class="panel-title" style="text-align: center; font-family:sans-serif"><strong> List of all Repositories</strong></h3>
            <div class="jumbotron">
            <div class="row">            
              
                    <br>
                    <br>         
                <div class="col-md-4" *ngFor="let repo of repos">
                    <p>{{repo.name}}<a href="{{profile.html_url}}" target="_blank"
                            class="btn btn-sm btn-success pull-right">View more</a></p>
                            <br>
                    <p>{{repo.description}}</p>
                </div>
            </div>  
            </div>
        </div>
    </div>
    </div> 